@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(45deg, #556B2F, #006D5B);
}
main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #00382fe5;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #C4A484;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(148, 123, 99, 0.692);
}
h2{
    color: #034694;
}
p{
    text-align: justify;
}